ion-icon {
  font-size: 25px;
}

strong {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#excluir-button {
  width: 94%;
}

#div-button-excluir {
  display: flex;
  justify-content: center;
}
