<ion-header>
  <ion-toolbar>
    <ion-title>{{materia?.nome || "Horários"}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <form [formGroup]="formulario">
        <ion-item>
          <ion-label>Dia</ion-label>
          <ion-select value="brown" formControlName="dia" okText="Confirmar" cancelText="Cancelar">
            <ion-select-option *ngFor="let d of dias_da_semana" value="{{d}}">{{d}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Ínicio</ion-label>
          <ion-datetime displayFormat="HH:mm" formControlName="inicio" cancelText="Cancelar" doneText="Confirmar">
          </ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>Termino</ion-label>
          <ion-datetime displayFormat="HH:mm" formControlName="termino" cancelText="Cancelar" doneText="Confirmar">
          </ion-datetime>
        </ion-item>
        <ion-button expand="block" [disabled]="!formularioValido" (click)="adicionarNaLista()">Adicionar</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-header>
      <h5>Horarios adicionados</h5>
    </ion-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let h of horarios">
          <ion-label>{{h.dia}} / {{h.inicio | date: "HH:mm"}} - {{h.termino | date: "HH:mm"}}</ion-label>
          <ion-button color="danger" (click)="removerDaLista(h)">
            <ion-icon name="remove-circle-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-button id="button-salvar" expand="block" color="success" (click)="salvarNovosHorarios()" [disabled]="!(horarios.length>0)">Salvar</ion-button>
</ion-content>
