<ion-header>
  <ion-toolbar>
    <ion-title>Tarefas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-reorder-group (ionItemReorder)="reorderItems($event)" disabled="false">
    <ion-card *ngFor="let item of tarefas">
      <ion-card-content>
        <div class="check-descricao">
          <div class="checkbox">
            <ion-checkbox (ionChange)="concluirTarefa(item)" [mode]="'ios'" color="success" [checked]="item.concluido" slot="start"></ion-checkbox>
          </div>
          <span *ngIf="!item.concluido"(click)="verDetalhes(item)" class="descricao">{{item.descricao}}</span>
          <span *ngIf="item.concluido" (click)="verDetalhes(item)" style="text-decoration: line-through;" class="descricao">{{item.descricao}}</span>
        </div>
        <ion-reorder>
          <div class="div-data-cor">
            <span class="data-limite">
              <ion-icon name="calendar-outline"></ion-icon>{{item.prazo | date: 'dd/MM'}}
            </span>
            <div [ngClass]="item.status"></div>
          </div>
        </ion-reorder>
      </ion-card-content>
    </ion-card>
  </ion-reorder-group>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addTarefa()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
