ion-card-content {
  display: flex;
  padding: 0;
  padding-left: 10px;
  justify-content: space-between;
  .descricao {
    margin-left: 10px;
    font-size: 17px;
    max-width: 23ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.check-descricao {
  display: flex;
  align-items: center;

}

.div-data-cor {
  display: flex;
  align-items: center;
}

.cor-prazo {
  background-color: blueviolet;
  height: 60px;
  width: 6px;
}

.concluido {
  background-color: #2dd36f;
  height: 60px;
  width: 6px;
}

.atrasado {
  background-color: #eb445a;
  height: 60px;
  width: 6px;
}

.pendente {
  background-color: #3880ff;
  height: 60px;
  width: 6px;

}

.proximo {
  background-color: #ffc409;
  height: 60px;
  width: 6px;
}

.data-limite {
  margin-right: 10px;
  display: flex;
  align-items: center;
  ion-icon {
    margin-right: 5px;
  }
}

.checkbox {
  display: flex;
}
