<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button routerLink="/home">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <ion-tab-button routerLink="/horarios">
        <ion-icon name="time-outline"></ion-icon>
        <ion-label>Horários</ion-label>
      </ion-tab-button>

      <ion-tab-button routerLink="/tarefas">
        <ion-icon name="reader-outline"></ion-icon>
        <ion-label>Tarefas</ion-label>
        <ion-badge>{{storageService.numero_tarefas_pendentes}}</ion-badge>
      </ion-tab-button>

      <ion-tab-button routerLink="/materias">
        <ion-icon name="school-outline"></ion-icon>
        <ion-label>Matérias</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>
