<ion-header>
  <ion-toolbar>
    <ion-title>Matérias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let m of materias" (click)="presentActionSheet()">
    <ion-card-header>
      {{m.nome}}
    </ion-card-header>
    <ion-card-content>
      Horas: {{m.horas}}
    </ion-card-content>
  </ion-card>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/add-materia">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
